.material-icons {
    vertical-align: bottom;
    margin-bottom: -2px;
  }
  #item-group {
    width: 90%;
    margin: 0 auto;
    .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #efefef;
      .btn-group {
        background: #efefef;
        button {
          background: transparent;
          border: none;
          outline: none;
          transition: all .5s ease;
          &.active {
            background: #e0e0e0;
            transition: all .5s ease;
          }
        }
      }
    }
    .row {
      display: flex;
      border-bottom: 1px solid #efefef;
      transition: all .5s ease;
      .item {
        width: 40%;
        padding: 5%;
        padding-bottom: calc(5% + 10px);
        margin: auto;
        transition: all .5s ease;
        &:nth-of-type(1) {
          border-right: 1px solid #efefef;
        }
        a {
          text-decoration: none;
          border-bottom: 1px dotted #292929;
          color: #292929;
          &:hover {
            border-bottom: none;
            color: lighten(#292929, 10%);
          }
          &.btn {
            border: 1px solid #292929;
            border-bottom-width: 2px;
            padding: 8px;
            border-radius: 4px;
            &:hover {
              color: lighten(#292929, 15%);
              border-color: lighten(#292929, 15%);
              border-bottom-width: 1px;
              position: relative;
              top: 1px;
            }
          }
        }
        @media (max-width: 600px) {
          width: 45%;
          padding: 2.5%;
          padding-bottom: calc(2.5% + 10px);
        }
      }
    }
    &.grid {
      .row {
        flex-flow: row nowrap;
      }
    }
    &.list {
      .row {
        flex-flow: column nowrap;
        border: none;
        .item {
          width: 50%;
          padding: 5% 0;
          padding-bottom: calc(5% + 10px);
          border-right: none;
          border-bottom: 1px solid #efefef;
          @media (max-width: 600px) {
            width: 100%;
            padding: 2.5%;
            padding-bottom: calc(2.5% + 10px);
          }
        }
      }
    }
  }