:root {
  --primary-color: #99151B;
  --secondary-color:#38fa8c;
  --accent-1:#063C0A;
  --accent-2:#550c10;
  --nav-text-color: #122709;
  --btn-text-color:#FFFFFFFF;
  --paragraph-background:#F2F2F2;
  --body-text-color:black;
  --footer-background: #D1D1D1;
  --footer-text-color: #303030;


  --pale-purple-pantone: hsl(262, 63%, 92%);
  --medium-sea-green: hsl(152, 63%, 43%);
  --lavender-blush: hsl(336, 35%, 92%);
  --columbia-blue: hsl(204, 92%, 90%);
  --alice-blue-1: hsl(216, 38%, 95%);
  --alice-blue-2: hsl(216, 75%, 97%);
  --alice-blue-3: hsl(216, 38%, 95%);  
  

  --gradient: linear-gradient(to top, var(--alice-blue-2), var(--alice-blue-3));

  --paragraph-text-font: 'Nunito', sans-serif;
  --text-font-family-open-sans: 'Open Sans', sans-serif;

  --text-size-large: 2.125rem;
  --text-font-size-2: 1.875rem;
  --text-font-size-3: 1.5rem;
  --text-font-size-4: 1.375rem;
  --text-font-size-5: 1.125rem;
  --text-font-size-6: 0.875rem;
  --text-font-size-7: 0.625rem;
  
  --transition: 0.5s ease;

  --shadow-1: 3px 3px 9px #a5a5bb33;
  --shadow-2: 3px 3px 9px #36aaf74d;
}
*{
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
label,
input,
button,
ion-icon { display: block; }

h1,
.h1{
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 800;
  margin-top: 20vh;
}

button,
input {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }
.top-arrow::after{
  content:"🔺";
}
input { width: 100%; }

ion-icon { pointer-events: none; }

html {
  font-family: var(--text-font-family-open-sans);
  color: var(--eerie-black);
  font-size: 1rem;
  line-height: 1.5;
  scroll-behavior: smooth;
  min-width: 320px;
}

body {
  background: var(--alice-blue-1);
  overflow-x: hidden;  
}
hr{
  box-shadow: 5px 5px var(--secondary-color);
  height: 2px;
  width: 70%;
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-track { background: white; }

::-webkit-scrollbar-thumb {
  background: #3125254d;
  border: 2px solid white;
}

::-webkit-scrollbar-thumb:hover { background: hsla(219, 14%, 60%, 0.5); }

.container {
  margin-inline: auto;
  padding-inline: 15px;
}

button, a { transition: var(--transition); }

.btn {
  position: relative;
  background: var(--primary-color);
  color: var(--btn-text-color, white);
  min-width: var(--width, 40px);
  min-height: var(--height, 40px);
  max-width: 400px;
  padding: 5px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  font-family: var(--paragraph-text-font);
  font-weight: 600;
  overflow: hidden;
}
.checkout{
  background-color: var(--secondary-color);
  color: var(--accent-1);
  padding: 1rem;
  margin: 1% 0 0 5%;
  border: black;
}

.btn ion-icon {
  font-size: 22px;
  --ionicon-stroke-width: 40px;
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, hsla(0, 0%, 100%, 0.4), transparent);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}

.btn:is(:hover, :focus) { box-shadow: var(--shadow-2); }
.btn:is(:hover, :focus)::before { opacity: 1; }

h2,
.h2,
h3,
.h3 {
  color: var(--accent-2);
  font-family: var(--paragraph-text-font);
  line-height: 1.4;
}

.h2,
.h3 { font-weight: 400; }

.h2 { font-size: var(--text-font-size-2); }

.h3 { font-size: var(--text-font-size-4); }

.w-100 { width: 100%; }

/*  TOP NAVBAR */
.top-navbar{
  display: flex;
  justify-content: space-between;
  background-color: var(--paragraph-background);
  top: 0;
  height: 35px;
  padding: .5%;
  opacity: .9;
}
.contact-info{
  display: grid;
}
.contact-info span{
  width: max-content;
  padding: 0 2%;
  color:var(--accent-1);
  font-weight: bold;
  font-size: .7rem;
}
marquee{
  font-size: .85rem;
  font-weight: 600;
  color: var(--accent-2);
}
.social-list {
  display: flex;
  align-items: center;
  gap: 4%;
  margin: -.08% 2% 0 2%;/*for small screens*/
}

/*  TOP NAVBAR */

/* HEADER STYLE */
header{
  top: 4%;
  background: var(--secondary-color);
}
.header-contact { display: block; }

header,
.top-navbar {
  position: fixed;
  left: 0;
  width: 100%;
  transition: var(--transition);
  z-index: 100;
}

header .active { box-shadow: var(--shadow-1); }

header .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cta .btn span { display: none; }
.cta-2 {
  height: 3rem;
  font-size: 1.2rem;
}
.user-btn {
  --color: var(--footer-text-color);
  --background: white;
  --shadow-2: var(--shadow-1);
  box-shadow: var(--shadow-1);
}

.toggle-menu span {
  background: var(--footer-text-color);
  width: 22px;
  height: 2px;
  border-radius: 2px;
  margin-block: 8px;
  transform-origin: right;
  transition: var(--transition);
}

.toggle-menu span.two { transform: scaleX(0.7); }

.toggle-menu span.three { transform: scaleX(0.4); }

.toggle-menu:is(:hover, :focus) span { background: var(--primary-color); }

.toggle-menu.active span {
  transform: scaleX(1);
  background: var(--primary-color);
}

.navbar {
  color: white;
  position: fixed;
  bottom: 0;
  right: -260px;
  max-width: 260px;
  width: 100%;
  padding: 20px 25px;
  border: 1px solid white;
  box-shadow: var(--shadow-1);
  visibility: hidden;
  transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
}
.navbar.active {
  background: #e5d6d6;
  opacity: .85;
  visibility: visible;
  transform: translateX(-100%);
  transition: 0.5s cubic-bezier(0.33, 0.85, 0.56, 1.02);  
  top: 105px;
}

nav li a {
  color: var(--nav-text-color);
  font-family: var(--paragraph-text-font);
  font-size: var(--text-font-size-6);
  padding-block: 5px;
  margin-bottom: 15px;
}

nav li a:hover,
nav li a:focus, 
.active{ 
  border-bottom: solid 4px var(--primary-color);
}

.overlay {
  position: fixed;
  top: 105px;
  background: hsl(216, 38%, 95%);
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}

/*  HERO STYLE*/
.hero{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 1;
}
.hero-innerPage{height: 40vh;}
.hero-text {
  position: absolute;
  color: var(--footer-text-color);
  line-height: 1.8;
  margin-bottom: 20px;
}
.hero-title {
  margin-bottom: 15px;
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-style: normal;
}
.hero-banner {
  display: block;
  height: inherit;
  overflow: hidden;
  width: 100%;
  position: relative;
  background: url("https://nrb2002.github.io/wdd230/scoots/images/hero/banner-large-scooter-city-ride.webp") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  text-align: left;
  justify-content: center;
  z-index: -1;
  animation: 60s infinite alternate change;  
}
@keyframes change{
  0%{
    background-image: url("https://nrb2002.github.io/wdd230/scoots/images/hero/banner-large-scooter-city-ride.webp");
  }
  20%{
    background-image: url("https://nrb2002.github.io/wdd230/scoots/images/hero/banner-large-scoots-hero-conzumel.webp");
  }
  40%{
    background-image: url("https://nrb2002.github.io/wdd230/scoots/images/hero/banner-large-cozumel-braden-collum.webp");
  }
  60%{
    background-image: url("https://nrb2002.github.io/wdd230/scoots/images/hero/cozumel-jakob-owens-portrait.webp");
  }
  80%{
    background-image: url("https://nrb2002.github.io/wdd230/scoots/images/hero/banner-large-cozumel-conor-luddy-landscape.webp");
  }
  100%{
    background-image: url("https://nrb2002.github.io/wdd230/scoots/images/hero/banner-large-jr-harris-landscape.webp");
  }
}

.hero-banner h1{
  margin: -20px 0 2%;
  
}
.hero-innerPage{
  background: url("https://nrb2002.github.io/wdd230/scoots/images/cozumel-braden-collum-landscape.webp") no-repeat;
}
/*HERO STYLE*/
/*---------------------------------------------------------------------------------------------------------------------------*/
/*  WEATHER STYLE*/
.weather {
  background: var(--paragraph-background);
  border: 1px solid white;
  box-shadow: var(--shadow-2);
  border-radius: 15px;
  font-family: var(--paragraph-text-font);
  padding: 2%;
  height: 50vh;
  width: 90vw;
  margin-bottom: 1%;
  opacity: .85 ;
}
.weather,
.weather-card{color: var(--accent-2);}
.weather-title{
  font-size: .95rem;
  font-weight: 600;
}
.weather-data{
  font-size: .8rem;
  display: flex;
  gap:2%;
}
.current-weather{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.weather #current-temp{
  font-size: 2rem;
  font-weight: 500;  
}
.weather #description{
  text-transform: capitalize;
}
.weather .weather-card:nth-child(2){
  border-left: solid 1px var(--nav-text-color);
  text-align: center;
}
.weather .weather-card:last-child{
  padding: 0 0 0 4%;
  font-size: .9rem;
}

.weather .btn {
  text-transform: uppercase;
}
#weather-table{  
  overflow-y:auto;
  scrollbar-color: var(--accent-2);
  height: 6rem;
  border: solid 2px var(--accent-2);
  border-radius: 10px;
}
#weather-table-table{
  font-size: .9rem;
  margin: 2%;
  text-align: center;
}
#weather-table-table tr th:nth-child(3),
#weather-table-table tr td:nth-child(3){display: none;}

/*  WEATHER STYLE*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.section-content .title-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 15px;
  /* margin-bottom: 30px; */
  margin-top: 4%;
}

.section-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--body-text-color);
  font-size: var(--text-font-size-6);
}

.section-link span { transition: var(--transition); }

.section-link:is(:hover, :focus) span { color: var(--space-cadet); }

.section-link ion-icon {
  margin-top: 3px;
  transition: var(--transition);
}

.section-link:is(:hover, :focus) ion-icon { color: var(--primary-color); }

.rental-options-list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 30px;
}

.rental-options-card {
  background: var(--gradient);
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  box-shadow: var(--shadow-1);
}

.rental-options-card .card-banner {
  background: hsla(0, 0%, 0%, 0.2);
  aspect-ratio: 3 / 2;
  border-radius: 15px;
  overflow: hidden;
  margin: 0;
}

.rental-options-card .card-banner > img {
  height: 100%;
  object-fit: cover;
}

.rental-options-card .card-content { padding: 20px 10px 10px; }

.rental-options-card .card-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.rental-options-card .card-title { width: calc(100% - 60px); }

.rental-options-card .card-title > a {
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rental-options-card .card-title > a:is(:hover, :focus) { color: var(--primary-color); }

.rental-options-card .year {
  font-family: var(--paragraph-text-font);
  font-size: var(--text-font-size-6);
  font-weight: 600;
  padding: 3px 12px;
  border: 2px dashed hsla(204, 91%, 53%, 0.4);
  border-radius: 14px;
}

.rental-options-card .card-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  margin-bottom: 15px;
}

.rental-options-card .card-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rental-options-card .card-list-item ion-icon {
  font-size: 20px;
  color: var(--primary-color);
  --ionicon-stroke-width: 38px;
}

.rental-options-card .card-item-text {
  color: var(--body-text-color);
  font-size: var(--text-font-size-6);
}

.rental-options-card .card-price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.rental-options-card .card-price {
  font-family: var(--paragraph-text-font);
  font-size: var(--text-font-size-6);
  color: var(--space-cadet);
}

.rental-options-card .card-price strong {
  font-size: var(--text-font-size-3);
  font-weight: 400;
}

.rental-options-card .btn:last-child {
  --height: 36px;
  min-width: 100%;
}

.rental-options-card .fav-btn {
  --background: var(--beau-blue);
  --color: var(--blue-jeans);
  --height: 36px;
  --width: 36px;
  --shadow-2: none;
}
.rental-options-card .fav-btn ion-icon {font-size: 18px;}
.rental-options-card .fav-btn:is(:hover, :focus){
  --background: var(--lavender-blush);
  --color: var(--red-salsa);
}
#rental-options button{
  width:90%;
  padding: 15px;
  margin: 0 auto;
  text-transform: uppercase;
}
section { padding-block: 10px; }
.section-title {margin-top: 90px;}

/*  PRICING TABLE STYLE */
.pricing-table{
  margin: auto;
  min-width: 300px;
  width: 90%;
  border-collapse: collapse;
}
.pricing-table tr:first-child {
  border-top: none;
  background: var(--primary-color);
  color: #fff;
}
.pricing-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.pricing-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.pricing-table th {
  display: none;
}

.pricing-table td {
  display: block;
}

.pricing-table td:first-child,
.pricing-table td:last-child {
  margin-bottom: .5em;
}

.pricing-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.pricing-table th,
.pricing-table td {
  text-align: left;
}
.pricing-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.pricing-table tr {
  border-color: #bfbfbf;
}

.pricing-table th,
.pricing-table td {
  padding: .5em 1em;
}
.pricing-table td:nth-child(3){text-align: left;}

.pricing-table tr:nth-child(2) {
  border-top: none;
}

/* ./PRICING TABLE STYLE */

/* PAYMENT PAGE STYLE */

.dropdown-select.visible {
  display:block;
}
.dropdown {
  position:relative;
}
ul li {
  list-style:none;
  padding-left:10px;
  cursor:pointer;
}
ul li:hover {
  background:rgba(255,255,255,0.1);
}
.dropdown-select {
  position:absolute;
  background:#77aaee;
  text-align:left;
  box-shadow:0px 3px 5px 0px rgba(0,0,0,0.1);
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  width:90%;
  left:2px;
  line-height:2em;
  margin-top:2px;
  box-sizing:border-box;
}
.thin {
  font-weight:400;
}
.small {
  font-size:12px;
  font-size:.8rem;
}
.half-input-table {
  border-collapse:collapse;
  width:100%;
}
.half-input-table td:first-of-type {
  border-right:10px solid #4488dd;
  width:50%;
}
.window {
  height:540px;
  width:100%;
  background:#fff;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  border-radius:30px;
  z-index:10;
  margin: 2% auto;
}
.order-info {
  height:100%;
  width:50%;
  padding-left:25px;
  padding-right:25px;
  box-sizing:border-box;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  position:relative;
}
.price {
  bottom:0px;
  position:absolute;
  right:0px;
  color:#4488dd;
}
.order-table td:first-of-type {
  width:25%;
}
.order-table {
    position:relative;
}
.line {
  height:1px;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  background:#ddd;
}
.order-table td:last-of-type {
  vertical-align:top;
  padding-left:25px;
}
.order-info-content {
  table-layout:fixed;

}

.total {
  margin-top:25px;
  font-size:20px;
  font-size:1.3rem;
  position:absolute;
  bottom:30px;
  right:27px;
  left:35px;
}
.dense {
  line-height:1.2em;
  font-size:16px;
  font-size:1rem;
}
.input-field {
  background:rgba(255,255,255,0.1);
  margin-bottom:10px;
  margin-top:3px;
  line-height:1.5em;
  font-size:20px;
  font-size:1.3rem;
  border:none;
  padding:5px 10px 5px 10px;
  color:#fff;
  box-sizing:border-box;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
.credit-info {
  background:#4488dd;
  height:100%;
  width:50%;
  color:#eee;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  font-size:14px;
  font-size:.9rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-sizing:border-box;
  padding-left:25px;
  padding-right:25px;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  position:relative;
}
.dropdown-btn {
  background:rgba(255,255,255,0.1);
  width:100%;
  border-radius:5px;
  text-align:center;
  line-height:1.5em;
  cursor:pointer;
  position:relative;
  -webkit-transition:background .2s ease;
          transition:background .2s ease;
}
.dropdown-btn:after {
  content: '\25BE';
  right:8px;
  position:absolute;
}
.dropdown-btn:hover {
  background:rgba(255,255,255,0.2);
  -webkit-transition:background .2s ease;
          transition:background .2s ease;
}
.dropdown-select {
  display:none;
}
.credit-card-image {
  display:block;
  max-height:80px;
  margin-left:auto;
  margin-right:auto;
  margin-top:35px;
  margin-bottom:15px;
}
.credit-info-content {
  margin-top:25px;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:100%;
}
@media (max-width: 600px) {
  .window {
    width: 100%;
    height: 100%;
    display:block;
    border-radius:0px;
  }
  .order-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .credit-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .pay-btn {
    border-radius:0px;
  }
}

/* END PAYMENT PAGE STYLE */

/* CONTACT FORM STYLE */
.contact-form{
  margin-top: 4%;
}
fieldset{
  margin: 2%;
  padding: 2% 4%;
  border-radius: 10px;
  box-shadow: 3px 5px lightgray;
  border: solid .5px lightgray;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid var(--accent-2); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  background-color: white;
}
input[type=textarea]{
  height: 600px;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  padding: 12px;
  cursor: pointer;
  margin: 2% ;
  font-size: 1.2rem;
}



/* END OF CONTACT FORM STYLE */

/* MAP SECTION */
.map{
  margin-top: 2%;
  padding: .5%;
  border: solid 2px var(--accent-2);
}
iframe{
  width:100%;
  height: 50vh;
}
/* END OF MAP SECTION */


/* FOOTER STYLE */
.footer {
  background: var(--footer-background);
  color: var(--footer-text-color);
}

.footer a { color: inherit; }

.footer-top {
  padding-block: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 50px;
}

.footer-top .logo { margin-bottom: 20px; }

.footer-text {
  font-size: var(--text-font-size-6);
  line-height: 1.8;
}

.footer-list { font-family: var(--paragraph-text-font); }


.footer-list-title {
  color: var(--space-cadet);
  font-weight: 600;
  margin-bottom: 8px;
}

.footer-link {
  font-size: var(--text-font-size-6);
  padding-block: 6px;
}

.footer-link:is(:hover, :focus) { color: var(--primary-color); }

.footer-list:last-child > li:first-child { column-span: all; }

.footer-bottom {
  background: var(--gradient);
  border: 1px solid white;
  border-radius: 15px 15px 0 0;
  padding: 20px;
}
.copyright { 
  font-size: var(--text-font-size-6); 
  display: grid;
  text-align: center;
}
.copyright img{
  margin: 0 auto;
}

.copyright > a { display: inline-block; }

.copyright > a:is(:hover, :focus) { color: var(--primary-color); }









