@media (min-width: 1025px){
    h1,
    .h1{
      margin-top: 250px;
    }
    .container { 
        width: 80%;
        max-width: 1200px; 
    }
    /*TOP NAVBAR STYLE*/
    .contact-info{
      grid-template-columns: 1fr 1fr;
      gap: 4%;
      margin-right: 5%;
      margin: -.08% 2% 0 19%;/*for small screens*/
    }
    .contact-info span{
      font-size: .85rem;
    }
    .social-list {
      margin:-.08% 19% 0 2%;
    }

    /*TOP NAVBAR STYLE*/

    /*HERO STYLE*/
    
    
    /*HERO STYLE*/

    
    
    /*MAIN STYLE*/
    .section-title {margin-top: 70px;}
    
    
    /*MAIN STYLE*/
  
  .overlay,
  .toggle-menu { display: none; }

  .navbar,
  .navbar.active { all: unset; }

  nav ul {
    display: flex;
    gap: 4rem;
  }

  nav ul li a {
    margin-bottom: 0;
    font-weight: var(--fw-600);
  }

  

  /* WEATHER STYLE FOR LARGER VIEWPORTS */

  .weather { max-width: 900px; }
  .weather .btn {
    --width: calc(100% - 40px);
    --height: 50px;
    margin: 20px;
    text-transform: uppercase;
  }
  .weather-data{font-size: 1rem;}  
  #weather-table th, td {
    text-align: center;
  }  
  /* WEATHER STYLE FOR LARGER VIEWPORTS */


  /**
   * rental CAR 
   */

  .rental-options-list { grid-template-columns: repeat(3, minmax(0, 1fr)); }




  /** FOOTER */
  .footer-brand { width: 33.33%; }
  .footer-text { max-width: 35ch; }
  .footer-list:not(:last-of-type) { width: 16.66%; }
  .footer-list:last-of-type { width: 33.33%; }
  /** FOOTER */
}