@media (min-width: 1024px){
    

    .container { 
        width: 80%;
        max-width: 1200px; 
    }
    
    /*HERO STYLE*/
    .hero-title {
        font-size: 3.5rem;
      }
    .current-weather{
        grid-template-columns: 1fr 1fr 1fr;
      }
      .current-weather:nth-child(2){
        border-right: solid 1px var(--nav-color);
        border-left: solid 1px var(--nav-color);
      }
      .weather .weather-card:last-child{
        font-size: 1rem;
      }
    /*HERO STYLE*/
}