@media (min-width: 768px){
    /*HERO STYLE*/
    .hero-title {
        font-size: 2.2rem;
      }


    /*FOOTER STYLE*/
    .footer-list:not(:last-of-type) { width: 25%; }
    .footer-list:last-of-type { width: 50%; }
    /*FOOTER STYLE*/
  
  
}