@media (min-width: 768px) and (max-width: 1023px){
    

    /*HERO STYLE*/
    .hero-title {
        font-size: 2.2rem;
      }
    /*  TOP NAVBAR */
    .top-navbar{
      height: 40px;
    }

     /*  TOP NAVBAR */
     /* WEATHER STYLE */
    .weather-title{
      font-size: 1.1rem;
    }
    .weather #current-temp{
      font-size: 2.2rem;
      font-weight: 500;  
    }
    /* WEATHER STYLE */


    /*FOOTER STYLE*/
    .footer-list:not(:last-of-type) { width: 25%; }
    .footer-list:last-of-type { width: 50%; }
    .copyright { 
      grid-template-columns: repeat(6, 1fr);
      margin: 0 auto;
      gap: 2%;
    }
    /*FOOTER STYLE*/
  
  
}