body {
  display: grid;
  height: 100vh;
  grid-template: 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}

header, nav, footer{
  grid-column: 1 / 5;
}

header {
  background: lightpink;
  padding: 2rem;
  
}

nav {
  background: rgb(162, 237, 237);
  padding: 2rem;
  max-height: 2rem;
  
}

main {
  background: coral;
  grid-column: 1 / 4;
  padding: 2rem;
}

.right-sidebar {
  background: yellow;
  grid-column: 4 / 5;
}

main,
.right-sidebar{
 min-height: 36rem;
}

footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
  
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}
