

body {
	font-family: Roboto, helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

header,
main,
footer {
	width: 80%;
	margin: 0 auto;
}

.card-content img{
	border: #702963 solid 2px;
	height: 700px;
	width: 95%;
	
}

.banner {
	padding: .5rem;
	background-color: #eee;
	text-align: center;
	margin: 1rem auto;
	width: 100%;
}

h1 {
	border-bottom: 1px solid navy;
	text-align: center;
	margin: 30px auto;
	font-family: Kaushan Script, helvetica, sans-serif;
	font-size: 2.5rem;
	color: #702963;
}

main {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;	
}

main p{
	line-height: 1.5rem;
	padding: 0 2rem;
	text-align: left;
}

.card {
	color: black;
	background-color: whitesmoke;    
	border-radius: 1rem;
	font-size: 1rem;
	box-shadow: 5px 5px 5px lightgray;
	text-align: center;	
}

.card-title{
	background-color: #702963;
	padding: 1rem;
	color: white;
	text-align: center;	
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}

@media screen and (max-width: 768px) {
	header,
	main,
	footer {
		width: 95%;
	} 

	main {		
		grid-template-columns: 1fr;
	}

	.card{
		grid-column: 1 / 2 ;
	}

	.card-content img{
		height: auto;
		width: 80%;
		margin: 1rem auto;
		
	}
	
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	
	header,
	main,
	footer {
		width: 97%;		
	}

	main {		
		grid-template-columns: 1fr 1fr;		
	}

	#white-space{
		grid-column: 1 / 3;
	}

	#white-space img{
		width: 60%;
		margin: 1rem auto;
	}
	
	.card-content img{
		height: 500px;
			
	}

	#white-space img{
		height: 700px;
		
	}
	
}


