
body {
	font-family: Roboto, helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

header,
main,
footer {
	width: 95%;
	margin: 0 auto;
}

.banner {
	padding: .5rem;
	background-color: #702963;
	text-align: center;
	margin: 1rem auto;
	width: 100%;
}

h1 {
	border-bottom: 1px solid navy;
	text-align: center;
	margin: 28px auto;
	font-family: Kaushan Script, helvetica, sans-serif;
	font-size: 2.4rem;
	color: #eee;
}

main {
	display: grid;    
	grid-gap: 1rem;	
}


main p{
	line-height: 1.4rem;
	padding: 0 2rem;
	text-align: left;
}

.card {
	color: black;
	background-color: whitesmoke;    
	border-radius: 1rem;
	font-size: 1rem;
	box-shadow: 5px 5px 5px lightgray;
	text-align: center;	
}

.card-title{
	background-color: #702963;
	padding: 1rem;
	color: white;
	text-align: center;	
}

.card-content img{
	height: auto;
	width: 80%;
	margin: 1rem auto;	
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}






