@media screen and (min-width: 769px) and (max-width: 1024px) {
	
	main {		
		grid-template-columns: 1fr 1fr;		
	}

	#white-space{
		grid-column: 1 / 3;
	}

	#white-space img{
		width: 60%;
		margin: 1rem auto;
	}
	
	.card-content img{
		height: 500px;
			
	}

	#white-space img{
		height: 700px;
		
	}
	
}


