/*do not include a media query*/

/*use the Google Font - Roboto in the body rule,*/
body{
    font-family: 'roboto', sans-serif;
}

/*the header, main, and footer each have a maximum width of 640 pixels and are centered on the page using margin: 1rem auto*/
header,
main,
footer{
    /*have a maximum width of 640 pixels*/
    max-width: 640px;
    /*are centered on the page using margin: 1rem auto*/
    margin:1rem auto;
    /*include a faint border and appropriate padding*/
    border : #529f9f solid 1px;
    padding: 1rem;
    /*have a blueish background color of your choice*/
    background-color: #ceecee;    
}

/*set the main element to be a CSS grid with a grid template of only one column, and a equal gap of 1rem */
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

/* set the section elements to also have padding and a white background.*/
section{
    padding: 1rem;
    background-color: white;
}