:root {
    --primary-color : #0a2341;
    --secondary-color : #365681;
    --accent1 : #f5f4f4;
    --accent2 : #554E4E;
    --paragraph-text-color : var(--accent1);
    --paragraph-background-color : var(--accent2);
    --title-color : var(--primary-color);
    --subtitle-color : var(--accent2);
}

html, body {
    overflow-x : hidden;
    background-color : #f5f4f4;
    font-family : 'Poppins Static', sans-serif;
    margin : 0 auto;
    min-height : 100vh;
    min-width: 325px;
}

h1{
    color: var(--accent1);
    font-size: 2.5rem;
}

h2{    
    color: var(--title-color);
    font-size: 1.8rem;   
}

h3{
    color: var(--subtitle-color);
    font-size: 1.5rem; 
}

h4{
    color: var(--secondary-color);
    font-size: 1.5rem;
}

h1, h2, h3, h4{
    font-family:'Playfair Display', serif;
    font-weight: 300;    
}

p{
    line-height: 1.5rem;
    font-size: 1rem;
}

a{
    padding: 0;
}



fieldset{
    margin: 0 0 2% 1%;
    border: 1px solid rgb(154, 157, 217);
    border-radius: 6px;
    padding: 2% 6%;
    background-color: rgb(242, 242, 246);
    box-shadow: 2px 2px lightgray;
}
fieldset legend{
    color: #445ba9;
    padding: 0 .5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

header{
    height : 100vh;
    background-image : url(../images/kinshasa-financial-center-small.webp);    
    background-repeat : no-repeat;
    background-position : center;
    background-size : cover;
    background-attachment : fixed;
    z-index : -1;
}

.page-header{
    height:40vh;
}


nav {
    position : fixed;
    top: 0;
    z-index : 100;
    width : 100%;
    align-items : center;
    justify-content : space-between;
    background-color : var(--primary-color);
    color : var(--accent1);
    opacity : 0.90;
}

nav ul {
    display : none;
    list-style : none;
    text-align : left;
    justify-content : flex-start;
    box-shadow : -10px 0 10px #554E4E;
    backdrop-filter : blur(10px);
    padding : 0 4%;
    margin:0 auto;
    transition : all 0.55s ease;
}
nav ul li:first-child {
    display : none;
}

nav li {
    height : 50px;
    text-transform : uppercase;
    margin-right : 2%;
    width : 100%;
}
    
nav a {
    height : 100%;
    width: 4rem;
    padding : 0 .1rem;
    margin-top: 1%;
    text-decoration : none;
    display : flex;
    align-items : center;
    color : var(--accent1);
    font-size : 0.8rem;
    font-weight : 600;
    transition : all 0.5s ease;
}

nav a:hover, .active {
    background-color : #f5f4f4;
    color : var(--primary-color);     
    border-radius : 10rem;       
}

.logo {
    display : flex;
    gap : 0.5rem;
    padding : 0.5% 2%;
    font-size : 0.8rem;
    font-weight : 400;
    width : 500px;
    line-height: 1.8rem;
    color : var(--accent1);
}

.logo img {
    width : 50px;
    margin-right : 0.5rem;
}
    
.logo a:hover {cursor: pointer;}
.action_button:hover {
    background-color : #365681;
    color : var(--accent1);
}
#menuToggler, #closeMenu {
    display : block;
    position : fixed;
    right : 2%;
    top : 0;
    border : 0;
    background : #f5f4f4;
    padding : 0.5% 4%;
    text-align : center;
    z-index : 100;
    font-size : 3rem;
    cursor : pointer;
}

#closeMenu, #closeMenu.hide, #menuToggler.hide {display:none;}

nav ul.show, #closeMenu.show {display:block;}
    
#page-title {
    text-align : center;
    padding-top : 20vh;
    margin-top : 0;
    color: var(--accent1);
}

.hero {
    height : 100vh;
    position : relative;
    top:35%;
    align-items : center;
    gap : 2rem;
    padding : 0 5%;
}

.weather-section h3{
    color: var(--accent1);
}    
.hero-text p {
    color : var(--accent1);
    font-size : 1.3rem;
    line-height : 1.2;
    margin-bottom : 20%;
    text-align : left;
}

.hero-text a {
    text-decoration : none;
    display : inline-block;
    color : var(--primary-color);
    background-color : #f5f4f4;
    padding : 4%;
    margin : 1%;
    width : 30%;
    line-height : 1.4;
    font-weight : bold;
    border : solid 2px;
    border-radius : 2rem;
    text-align : center;
    text-transform : uppercase;
    transition : all 0.55s ease;
}

.hero-text a:hover {
    background : transparent;
    color : var(--accent1);
    transform : translateX(8px);
}
    
.hero-text a.cta{
    background : transparent;
    color : var(--accent1);
}
    
.hero-text a.cta:hover {
    background : #f5f4f4;
    color : var(--primary-color);
}

main{width: 100%;}

/*HOME PAGE AND GENERAL STYLING*/
section {
    width : 100%;
    justify-content: center;
    padding: 2%;
    margin: 0;
    height: fit-content;
}
.mission-section,
.events-section,
.partners-section{
    background-color: white; 
}
.content{
    display: grid;
    margin: 1% auto;
    width: 90%;
    padding: 2%;
}
.mission-section .card{text-align: center;}
.weather-section .unique-value,
.weather-section .weather-card{
    width: 90%;
}
.weather-card {
    background: var(--secondary-color);
    box-shadow: 0 8px 32px 0 var(--accent2);
    /* backdrop-filter: blur( 11.5px ); */
    /* -webkit-backdrop-filter: blur( 11.5px ); */
    border-radius: 1rem;
    color: white;
    padding:2% 4%;
    line-height: 1.5rem;  
}
.weather-forecast{
    background-color: var(--accent1);
    height: 200px;
    color: var(--primary-color);
}

/*HOME PAGE AND GENERAL STYLING*/

/*Inner-page styling*/

.spotlight{
    justify-content: center;
    text-align: center;
    border: solid 1px lightgray; /*For design testing purpose only. To be commented. */
    height: 100px;
}
/*For design testing purpose only. To be commented. */
/* .main-content,
aside{
    border: solid 1px lightgray; 
} */
/*For design testing purpose only. To be commented. */

.spotlight,
.main-content,
aside{
    width: 100%;
    margin-bottom: 1%;
}
/*Inner-page content*/

/*DIRECTORY PAGE STYLING*/
.directory{
    margin-top:-3%;
}

.directory small{
  width : 60%;
  text-align : "center";
}

.directory .grid{display: grid;}

.display .list{
    display: flex;
    flex-direction: column;
}

.directory section {
  margin:1%;
  width: 90%;
  padding: 2%;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.directory section > p {min-height: 60px;}

.directory section > img {
    max-width: 100px;
    box-shadow: 0 0 30px #eeeef2;
    height: 100px;
    margin-bottom: 4%;
}
.directory li > img {
  width: auto;
  height: 30px;
}
.directory .caption{
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  border: 1px solid #ccc;
  background-color: lightyellow;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1rem 1fr;
}

.directory .caption h6 {
  position: absolute;
  top: -2.3rem;
  left: -0.25rem;
}

.directory .caption > div {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid #bbb;
}

.directory .caption > p {
  font-size: 0.75rem;
}

.directory .most {
  background-color: #bed;
}

.directory .fav {
  background-color: skyblue;
}
.directory .own {
  background-color: rosybrown;
}
.directory .un {
	list-style: none;
}
/*..DIRECTORY PAGE STYLING*/

section h2{
    text-align: center;    
}

.events-section{
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 1%;
}
.all-events-link{
    color: var(--secondary-color);
    margin-top: 0;
}

.partners-section{
    background-color: white;
}

.call-to-action{text-align: center;}
.call-to-action .action_button{
    padding:4%;
}
.action_button{
    background-color: var(--secondary-color);
    padding: 2% 4%;
    font-size: 1rem;
    margin: 0 auto;
    text-decoration: none;
    border: solid 1px var(--accent1);
    border-radius : 10rem;
    color : white;
}
.action_button:hover{
    color: var(--accent1);
    background-color: var(--primary-color);
}

th, tbody {
    padding : 0.5rem;
}

.table {
    border : var(--primary-color) solid 1px;
    width : 98%;
    text-align : center;
    font-size: .9rem;
}
 
    .accordion-wrapper {
    border : solid 0.5px;
    margin-top : 0.1rem;
    }
    .accordion {
    background-color : #f5f4f4;
    cursor : pointer;
    padding : 18px;
    width : 100%;
    text-align : left;
    outline : none;
    transition : 0.4s;
    border : none;
    }
    .accordion:hover {
    background-color : #554E4E;
    color : white;
    }
    .panel {
    padding : 0 18px;
    background-color : #f5f4f4;
    display : none;
    overflow : hidden;
    }

#mobile {
    width : 60%;
}

#desktop {
    width : 100%;
    border : solid 1px;
}
    
footer{
    color: var(--accent1);
    text-align: center;
    /* line-height: 1rem; */
    font-size: .9rem;
}

footer h4{
    font-weight: 100;
}

.secondary-menu{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    gap: 20%;
    padding: 2% 6%;
    flex-direction: column;
    line-height: 1.2rem;
}

footer .legal-mention{
    background-color: black;
    padding: 1% 0 ;    
}

footer a:hover{
    color: var(--secondary-color);
}

input[type='submit']:hover{
    border: solid 1px lightblue;
}

input[type='submit']:active{
    box-shadow: 0 2px var(--secondary-color);
    transform: translateY(2px);
}
.site-plan{
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
}
aside h4{
    text-decoration: underline;
}

aside .card{
    border: solid 1px rgb(207, 206, 230);
    border-radius: 2%;
    box-shadow: 1px 1px 4px var(--primary-color);
    height: fit-content;
    padding:2%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2%;
    line-height: 1.5rem;
}
.regForm,
.site-plan{
    width: 95%;
    max-width: 70rem;
    margin: -1% 2% 1% 2%;
    display: grid;
    /* padding: 2%; */
}

.regForm #formmessage{
	padding: 2%;
}
.regForm label{
    display: block;
    padding: 1rem;
    color: var(--primary-color);
    font-size: 1rem;  
}

.regForm input[type='text'],
.regForm input[type='password'],
.regForm input[type='email'],
.regForm textarea,
.regForm select{    
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    appearance: none;
}

.regForm select{
    margin-top: 4%;
}

.regForm input[type='submit']{
    border: none;
    background-image: linear-gradient( #69bae5, var(--primary-color));
    color:#ffff;
    border-radius: 6px;
    padding: .8rem;
    box-shadow: 1px 1px 4px #000;
    margin: 4%;
}
.regForm input:required{
    border: solid 1px var(--primary-color);
    background-color: #f9f6f6;
}

.regForm input:required:valid{
    border-right: solid 8px green;
}

.regForm input:required:invalid{
    border-right: solid 2px red;
}
.regConf{
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}

/* Photo gallery style */
.main-content img{
    /* border: solid .2rem var(--primary-color); */
    /* Add a fade from black animation to each image using CSS animation and opacity. */
    background-color: var(--accent2);
    animation: fade-in 5s; 
    width: 90%;
}

@keyframes fade-in {
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
    
}


