:root{
    --primary-color : #0a2341;
    --secondary-color : #365681;
    --accent1 : #f5f4f4;
    --accent2: #554E4E;
    --paragraph-text-color: var(--accent1);
    --paragraph-background-color: var(--accent2);
    --title-color : var(--primary-color);
    --subtitle-color : var(--accent2);    
}


html, body{
    width: 100%;
    padding: 0;
    background-color: var(--accent1); 
    font-family:'roboto', sans-serif
}

header{
    height: 100vh;
    background: url(../images/kinshasa-financial-center.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    
    
}

/* NAV BAR */

nav{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    color: var(--accent1);   
    opacity: .8;
}

.logo{
    display: flex;
    gap: .5rem;
    padding: .5% 2%;
    font-size: 1rem; 
    font-weight: 700; 
}

.logo img{
    width: 50px;
}

.logo a{
    text-decoration: none;
    color: var(--accent1); 
    line-height: 1.8rem;
}

.logo a:hover{
    color: var(--secondary-color);
}

.navlist{
    display: none;
} 

.navlist li {
    list-style-type : none;
    text-transform : uppercase;
}

.navlist a{
    text-decoration: none;
    margin: 0 4rem;
    font-size: .8rem;
    font-weight: 600;
    border-bottom: solid 2px transparent;
    transition: all .3s ease;    
    color: var(--accent1); 
}

.navlist a:hover, .active{
    border-bottom: 4px solid var(--accent1);
    padding-bottom: 1.8rem;
}

.action_button{
    text-decoration: none;
    margin-right: 15%;
    background-color: var(--accent1);
    padding: .6rem;
    border: solid 1px var(--primary-color);
    border-radius: 10rem;
    text-align: center;
    color: var(--primary-color);
}

.action_button:hover{
    background-color: var(--secondary-color);
    color: var(--accent1);
}

/* NAV BAR */


/*Hamburger Menu style*/
/* small view navigation */
#menuToggler {    
	display: block;
    position: fixed;
    right: 0;
    top: 0;
	border: 0;
	background: black;
	color: white;
    padding:.5rem;
    text-align: center;
    z-index: 101;
    font-size: 3rem;
}

#menuToggler::before {
	content: "☰";
}

#menuToggler.open::before {
  content: "X";
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

h1{
    font-size: 3rem;
    color: var(--accent1);
}

h2{
    color: var(--title-color);
}

h3{
    color: var(--subtitle-color);
}

h2{
    font-size: 2rem;
}

section{
    padding: 0 18%;
}

.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    gap: 2rem;
}

.hero-text{
    grid-column: 1/2;
}

.hero-text p{
    color: var(--accent1);
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.hero-text a{
    text-decoration: none;
    display: inline-block;
    color: var(--primary-color);
    background-color: var(--accent1);
    padding: 4%;
    margin: 1%;
    line-height: 1.4;
    font-weight: bold;
    border: solid 2px;
    border-radius: 2rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    transition: all .55s ease; 
}

.hero-text a:hover{
    background: transparent;
    color: var(--accent1);
    transform: translateX(8px);
}

.hero-text a.cta{
    background: transparent;
    color: var(--accent1);
}

.hero-text a.cta:hover{
    background: var(--accent1);
    color: var(--primary-color);
}


.content{
    width: 100%;
    margin: 2rem auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}





p{
    text-align: justify;
    line-height: 1.4rem;
}

th, tbody{     
    padding: .5rem;
}

.table{
    border: var(--primary-color) solid 1px;
    width: 100%;
    text-align: center;  
}

.primary{
    background-color: var(--primary-color);
    color: white;
}

.secondary{
    background-color: var(--secondary-color);
    color: white;
}

.accent1{
    background-color: var(--accent1);
    color: var(--primary-color);
}
.accent2{
    background-color: var(--accent2);
    color: white;
}

/*Style for accordion menu*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion-wrapper{    
    border: solid .5px;    
    margin-top: .1rem;
}
.accordion {
    background-color: var(--accent1);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border: none;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover {
    background-color: var(--accent2);
    color: black;    
  }
  
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: var(--accent1);
    display: none;
    overflow: hidden;
  }

  /*End Style for accordion menu*/

  #mobile{
    width:60%;
  }

  #desktop{
    width:100%;
    border:solid 1px;
  }