@media only screen and (min-width: 1025px) {
  h1, h2{
  font-size : 3.5rem;
  }

  nav {
    display : flex;
    align-items : center;
    justify-content : space-between;
    opacity : 0.75;
  }
  nav ul, #primaryMenu {
    display : flex;
    justify-content : flex-end;
    align-items : center;
    box-shadow : none;
  }
  nav ul li:first-child {
  display : block;
  }

  nav a{
    padding: 0 2rem;
  }
  #menuToggler, #closeMenu {
    display : none;
  }

  #mobile {
    width : 40%;
  }
  #desktop {
  width : 80%;
  border : solid 1px;
  }
  .logo {
  font-size : 1rem;
  font-weight : 700;
  }
  .action_button {
  width : 100px;
  }
  
  .hero {
    position : relative;
    top: -30%;
    padding : 40% 18% 0 18%;
  }
  .hero-text a {
  width : 10rem;
  margin : 0.5%;
  padding : 2%;
  }
  .hero-text h1 {
  margin-top : 0;
  }
  .hero-text p {
    font-size : 1.5rem;
    margin-bottom : 3rem;
  }

  .section-content{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }

  #our-mission h2{
    text-align: center;
    grid-column: 1/4;
  }

  #weather-section{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
     
  }

  #weather-section .card:first-child{
    grid-column: 2/5;
    font-style: italic;  
  }
  

  #weather-section .card:last-child{
      grid-column: 5/6;
      font-style: normal;
      font-size: 1.2rem;
  }

  
 
}
  
  