@media screen and (min-width: 426px){
  h1{
    font-size: 3rem;
  }

  h2{
      font-size: 2.5rem;    
  }

  h3{
      color: var(--subtitle-color);
      font-size: 1.8rem; 
  }

  p{
    font-size: 1.1rem;
  } 
    
  .hero-text p{
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  .all-events-link{
    font-size: .9rem;
  }

  .call-to-action .action_button{
    font-size: 1.2rem;
  }




  .secondary-menu{
    flex-direction: row;
  }
}