:root {
  --primary-color : #0a2341;
  --secondary-color : #365681;
  --accent1 : #f5f4f4;
  --accent2 : #554E4E;
  --paragraph-text-color : var(--accent1);
  --paragraph-background-color : var(--accent2);
  --title-color : var(--primary-color);
  --subtitle-color : var(--accent2);
}
.flex {
  display: flex;
  align-items: center;
}
.description {
  text-transform: capitalize;
  margin-left: 8px;
}
.weather .loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}
.weather .loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
.js-tilt-glare {
  border-radius: 10px;
}
a {
  margin-top: 7%;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
#current-temp{
  font-size: 2rem;
  font-weight: 800;
}