*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(38, 2, 38);
    
}

h1{
    background-color: black;
    color: white;
    padding: 1% 4%;
}

h2{
    text-align: center;
    color: rgb(237, 188, 237);
    padding-top: 4% auto;
    background-color: rgb(17, 44, 101);
    width: 100%;
    padding: 2%;
    margin: 1%;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: .3rem;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

main img{
    border: solid .5rem purple;
    /* Add a fade from black animation to each image using CSS animation and opacity. */
    background-color: black;
    animation: fade-in 10s;
}

@keyframes fade-in {
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
    
}

footer{
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
}