:root {
    --primary-color : #1A587A;
    --secondary-color : rgb(245, 208, 212);
    --tertiary-color : #00af54ff;
    --nav-link-color : white;
    --title-color : white;
    --link-hover-color : #fbaf00ff;
    --link-visited-color : #ffd639ff;
    --paragraph-background-color : white;
}

* {
    padding : 0;
    margin : 0;
    font-family : 'open sans', sans-serif;
    box-sizing : border-box;
}

img{    
    max-width: 100%;
}


header {
    text-align : center;
    padding : 1em;
}
header div {
    display : grid;
    justify-content : center;
}

header img {
    border-radius : 20px;
}

.profilePhoto {
grid-column : 1 / 2;
}
.authorName {
color : var(--primary-color);
grid-column : 2 / 3;
margin-left : 50px;
align-self : center;
font-size : 1.2em;
}

h1{
    font-size: 1.5rem;
}



h1, h2 {
    color : var(--primary-color);
}

h1, h2, h3 {
    font-family : 'noto sans', sans-serif;
}

nav {    
    justify-content : center;        
    line-height : 40px;
    min-height : 6vh;
    background-color : var(--primary-color);
}
nav ul li {
    list-style-type : none;
    display : block;
    font-weight : bold;
    font-size : 14px;
    text-transform : uppercase;
    text-decoration : none;
    padding : 1rem;
    margin : 0 20px;        
    
    text-align: center;
}

nav ul li a {
    text-decoration : none;
    color : var(--nav-link-color);
    font-weight : bold;
    letter-spacing : 1.6px;
}

nav ul li a:hover, nav ul li a:active {
    border-bottom : 4px solid var(--secondary-color);    
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: .5rem;    
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* Dropdown styles */


    
main {
    width : 90%;
    display : grid;
    padding : 2%;
    margin : 0 auto;
}
main h2 {
    grid-column : 1 / 2;
    width : 100%;
    text-align : center;
    font-size : 1.7em;
    text-align : center;
    margin-bottom : 3%;
}
.card {
    display : grid;
    border : var(--primary-color) solid 1px;
    margin :2% 1%;
}
.card h3 {
    grid-row : 1 / 2;
    background-color : var(--primary-color);
    padding : 2%;
    font-weight : bold;
    color : var(--title-color);
    font-size : 1.5em;
    text-align : center;
}
.card ul, .card label {
    padding : 2% 4%;
    line-height : 1.8em;
    list-style : none;
}
footer {
    text-align : center;
    padding-bottom : 0;
    background-color : var(--primary-color);
    padding : 2%;
    margin-bottom : 0;
    margin-top : auto;
    color : white;
    line-height : 2em;
    font-size : 0.9em;
}
