@font-face {
    font-family : 'Google Sans';
    font-style : normal;
    font-weight : 400;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesans/v29/4UasrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMucsih5flDH6MAwhSdTPjIUuA.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans';
    font-style : normal;
    font-weight : 500;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesans/v29/4UasrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YodMucsih5flDH6MAwhRVTPjIUuA.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans';
    font-style : normal;
    font-weight : 500;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesans/v29/4UasrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMucsih5flDH6MAwhRVTPjIUuA.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans Mono';
    font-style : normal;
    font-weight : 400;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesansmono/v15/P5sUzYWFYtnZ_Cg-t0Uq_rfivrdYH4RE8-pZ5gQ1abT53wVQGrw.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans Mono';
    font-style : normal;
    font-weight : 700;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesansmono/v15/P5sUzYWFYtnZ_Cg-t0Uq_rfivrdYH4RE8-pZ5gQ1abQe2AVQGrw.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans';
    font-style : normal;
    font-weight : 400;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesans/v29/4UasrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMucsih5flDH6MAwhSdTPjIUuA.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans';
    font-style : normal;
    font-weight : 500;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesans/v29/4UasrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YodMucsih5flDH6MAwhRVTPjIUuA.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans';
    font-style : normal;
    font-weight : 500;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesans/v29/4UasrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMucsih5flDH6MAwhRVTPjIUuA.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans Mono';
    font-style : normal;
    font-weight : 400;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesansmono/v15/P5sUzYWFYtnZ_Cg-t0Uq_rfivrdYH4RE8-pZ5gQ1abT53wVQGrw.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans Mono';
    font-style : normal;
    font-weight : 700;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesansmono/v15/P5sUzYWFYtnZ_Cg-t0Uq_rfivrdYH4RE8-pZ5gQ1abQe2AVQGrw.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans';
    font-style : normal;
    font-weight : 400;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesans/v29/4UasrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMucsih5flDH6MAwhSdTPjIUuA.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans';
    font-style : normal;
    font-weight : 500;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesans/v29/4UasrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YodMucsih5flDH6MAwhRVTPjIUuA.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans';
    font-style : normal;
    font-weight : 500;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesans/v29/4UasrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMucsih5flDH6MAwhRVTPjIUuA.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans Mono';
    font-style : normal;
    font-weight : 400;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesansmono/v15/P5sUzYWFYtnZ_Cg-t0Uq_rfivrdYH4RE8-pZ5gQ1abT53wVQGrw.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Google Sans Mono';
    font-style : normal;
    font-weight : 700;
    font-display : block;
    src : url(//fonts.gstatic.com/s/googlesansmono/v15/P5sUzYWFYtnZ_Cg-t0Uq_rfivrdYH4RE8-pZ5gQ1abQe2AVQGrw.ttf) format('truetype');
    }
    :root {
    --primary-color : rgb(67, 155, 202);
    --secondary-color : rgb(245, 208, 212);
    --tertiary-color : #00af54ff;
    --nav-link-color : white;
    --title-color : #efe6e6;
    --link-hover-color : #fbaf00ff;
    --link-visited-color : #ffd639ff;
    --paragraph-background-color : #efe6e6;
    }
    * {
    padding : 0;
    margin : 0;
    font-family : 'monteserrat', sans-serif;
    box-sizing : border-box;
    }
    h1, h2 {
    color : var(--primary-color);
    }
    h1, h2, h3 {
    font-family : 'open sans', sans-serif;
    }
    header {
    text-align : center;
    padding : 1em;
    }
    header div {
    display : grid;
    justify-content : center;
    }
    header img {
    border-radius : 20px;
    }
    .profilePhoto {
    grid-column : 1 / 2;
    }
    .authorName {
    color : var(--primary-color);
    grid-column : 2 / 3;
    margin-left : 50px;
    align-self : center;
    font-size : 1.2em;
    }
    nav {
    display : flex;
    justify-content : center;
    width : 100%;
    line-height : 40px;
    min-height : 6vh;
    background-color : var(--primary-color);
    }
    nav ul li {
        list-style-type : none;
        display : inline-block;
        font-weight : bold;
        font-size : 14px;
        text-transform : uppercase;
        text-decoration : none;
        padding : 20px 0;
        margin : 0 20px;   
        
        width: 100%; 
        text-align: center;
    }
    
    nav ul li a {
    text-decoration : none;
    color : var(--nav-link-color);
    font-weight : bold;
    letter-spacing : 1.6px;
    }
    nav ul li a:hover, nav ul li a:active {
    border-bottom : 4px solid var(--secondary-color);
    opacity : 1;
    }
    main {
    width : 60%;
    display : grid;
    padding : 2%;
    margin : 0 auto;
    }
    main h2 {
    grid-column : 1 / 2;
    width : 100%;
    text-align : center;
    font-size : 1.7em;
    text-align : center;
    margin-bottom : 3%;
    }
    .card {
        display : grid;
        border : var(--primary-color) solid 1px;
        margin : 0 25px 25px;
    }
    .card h3 {
    grid-row : 1 / 2;
    background-color : var(--primary-color);
    padding : 2%;
    font-weight : bold;
    color : var(--secondary-color);
    font-size : 1.5em;
    text-align : center;
    }
    .card ul, .card label {
    padding : 2% 4%;
    line-height : 1.8em;
    list-style : none;
    }
    footer {
        text-align : center;
        padding-bottom : 0;
        background-color : var(--primary-color);
        padding : 2%;
        margin-bottom : 0;
        margin-top : auto;
        color : azure;
        line-height : 2em;
        font-size : 0.9em;
    }
    @media screen and (max-width: 1200px) {
    main {
    width : 85%;
    }
    }