@import url('https://fonts.google.com/specimen/Montserrat');
@import url('https://fonts.google.com/specimen/Open+Sans?stroke=Sans+Serif');
@import url('https://fonts.google.com/specimen/Bonheur+Royale?query=royal');

/* CSS HEX */
:root{
    --primary-color: #007cbeff;
    --secondary-color: #ffa3afff;
    --tertiary-color: #00af54ff;

    --nav-background-color: #00af54ff;
    --nav-link-color: white;
    
    
    --link-hover-color: #fbaf00ff;
    --link-visited-color: #ffd639ff;
}




*{
    padding: 0;
    margin: 0;
    font-family: 'monteserrat', sans-serif;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: 'open sans', sans-serif;
}

header{
    text-align: center;
    background-color: var(--primary-color);
    padding: 1em;
}

header div{
    display: grid;
    justify-content: center;
    grid-template-columns: 2;
}

header img{
    border-radius: 20px;
}

.profilePhoto{
    grid-column: 1/2;
    
}

.authorName{
    color:var(--secondary-color);
    grid-column: 2/3;
    margin-left: 50px;
    align-self: center;
    font-size: 1.2em;
}

nav{
    width: 100%;    
    line-height: 60px;  
    min-height: 8vh;
    background-color: var(--nav-background-color);
    padding: 0 auto;
    
}

nav ul li{
    list-style: none;    
}

nav a{
    float: left;
    text-decoration: none;
    color: var(--nav-link-color);    
    padding: 14px 16px;
    letter-spacing: 1.6px;
    
    
}

nav a:hover{
    background-color:var(--primary-color);  
  }

nav a.active {
    background-color:var(--primary-color);  
}

main{
    width: 70%;
}

